
@{ 
     ViewData["Title"] = "Index";
 } 

 <h1>Index</h1> 
 <a asp-controller="User" asp-action="All_users">All_users</a> 
 <a asp-controller="User" asp-action="Create">Create</a> 
 <a asp-controller="User" asp-action="Edit">Edit</a>

