@model Session_Task.Models.User
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login" method="post">
    <label asp-for="Name">Username:</label><br>
    <input type="text" asp-for="Name" /><br>
    <label asp-for="Email">Email:</label><br>
    <input type="text" asp-for="Email" /><br>
    <button type="submit">Login</button>
</form>
