@model Session_Task.Models.User
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form asp-action="Register" method="post">
    <label asp-for="Name">Username:</label><br>
    <input type="text" asp-for="Name" /><br>
    <label asp-for="Email">Email:</label><br>
    <input type="text" asp-for="Email" /><br>
    <button type="submit">Register</button>
</form>
